html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border-top: 0;
}

.block label {
  display: block;
}

textarea {
  height: 10em;
}

hr {
  border-color: #6e8c62;
}

@media only screen and (min-width: 38em) {

  .address-grid div, .address-grid label {
    padding: 0;
  }

}
